@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}


/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.navbar.scrolled {
    background: #e5e7eb;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #ff6b00;
    display: flex;
    align-items: center;
}

.logo-d {
    color: #131720;
}

.logo-t {
    color: #EF6939;
    margin-left: 2px;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: auto;
    margin-right: 25px;
}

.nav-links a,
.nav-icons i {
    text-decoration: none;
    color: #6A7181;
    font-weight: 400;
    position: relative;
    transition: 0.3s;
}

.nav-icons i:hover {
    color: #131720;
}

.nav-links a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff6b00;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #131720;
}

.nav-links a:hover::after {
    width: 100%;
}


/* NAV ICONS */
.nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

#themeToggle {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 22px;
    cursor: pointer;
}


/* HERO SECTION */
.hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    background: #e5e7eb57;
    position: relative;
    overflow: hidden;
}

/* HERO DECORATION CIRCLES */
.hero-circle {
    position: absolute;
    border-radius: 50%;
    background: hsl(16 85% 58%);
    opacity: 0.12;
}

.hero-circle-left {
    top: 25%;
    left: -150px;
    width: 20%;
    height: 53%;
}

.hero-circle-right {
    top: 20%;
    right: -150px;
    width: 26%;
    height: 80%;
}

.hero-primary p {
    font-size: 14px;
    color: #EF6939;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    animation: heroReveal 0.8s ease forwards;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 732px;

}

.hero-text h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 72px;
    margin-bottom: 24px;
    opacity: 0;
    animation: heroReveal 0.9s ease forwards;
    animation-delay: 0.3s;
}

.hero-text span {
    color: #EF6939;
    font-weight: 700;
    opacity: 0.9;
    animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.hero-text .p1 span {
    font-size: 20px;
    margin-bottom: 16px;
    color: #6A7181;
    font-weight: 400;
    opacity: 0;
    animation: heroReveal 0.9s ease forwards;
    animation-delay: 0.6s;
}

.hero-text p {
    line-height: 1.6;
    color: #6A7181;
    margin: 0px 75px 40px 75px;
    font-size: 16px;
    opacity: 0;
    animation: heroReveal 0.9s ease forwards;
    animation-delay: 0.9s;
}
@keyframes heroReveal {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* BUTTONS */
.hero-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    opacity: 0;
    animation: heroReveal 0.9s ease forwards;
    animation-delay: 1.2s;
}


.btn-primary {
    display: inline-flex;
    background: #EF6939;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 0.75rem;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7;
    transition: 0.3s;
}

.btn-primary i {
    margin-left: 8px;
    line-height: 1.7;
}

.btn-primary:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    box-shadow: 0 4px 20px hsl(16deg 85% 58% / 30%);
    background-color: #EF6939;
}

.btn-primary:active, .btn-primary:focus{
    background-color: #EF6939;
}


.btn-outline {
    border: 2px solid hsl(220 15% 88%);
    color: #131720;
    padding: 12px 24px;
    border-radius: 0.75rem;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    line-height: 1.4;
}

.btn-outline i {
    margin-right: 8px;
    line-height: 1.4;
}

.btn-outline:hover {
    border-color: #EF6939;
    color: #EF6939;

}


/* HERO IMAGE */
.hero-image img {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


/* About Section */
.section_about,
.section_skills,
.section_projects,
.section_experience,
.section_education,
.section_contact {
    padding: 80px 8%;
}

.section_about h2,
.section_skills h2,
.section_projects h2,
.section_experience h2,
.section_education h2,
.section_contact h2 {
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: 700;
    position: relative;
}

.section_about h2::after,
.section_skills h2::after,
.section_projects h2::after,
.section_experience h2::after,
.section_education h2::after,
.section_contact h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #EF6939;
    position: absolute;
    left: 2px;
    bottom: 0px;
    border-radius: 5px;
    animation: lineGrow 1s ease forwards;
}

@keyframes lineGrow {
    from {
        width: 0;
    }
    to {
        width: 60px;
    }
}

.section_about h2 span,
.section_skills h2 span,
.section_projects h2 span,
.section_experience h2 span,
.section_education h2 span,
.section_contact h2 span {
    color: #EF6939;
    opacity: 0.9;
}

.about_content {
    max-width: 50rem;
}

.about_content span {
    color: #131720;
    font-weight: 600;
}

.section_about p,
.section_skills p,
.section_projects p,
.section_experience p,
.section_education p,
.section_contact p {
    color: #6A7181;
    font-size: 18px;
    margin-bottom: 48px;
}

/* Skills Section */
.bg_colour {
    background: #e5e7eb57;
    border-top: 1px solid #dcdfe5;
}

.bg_card {
    border-top: 1px solid #dcdfe5;
}

.skills_content .grid,
.projects_content .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.skill_card {
    background-color: #ffffff;
    border: 1px solid #dcdfe5;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.skill_card:hover,
.project_card:hover,
.edu_certi_card:hover,
.dark .skill_card:hover,
.dark .project_card:hover,
.dark .edu_certi_card:hover {
    border-color: #ef69394d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill_card,
.project_card,
.edu_certi_card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.skill_card:hover,
.project_card:hover,
.edu_certi_card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.skill_header,
.edu_certi_header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.icons_box {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    background-color: #EF69391A;
    color: #EF6939;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 12px;
    justify-content: center;
}

.icons_box i {
    font-size: 15px;
    line-height: 1.4;
}

.skill_card h3,
.edu_certi_card h3 {
    font-size: 17px;
    font-weight: 700;
    color: #131720;
    margin: 0;
}

.skill_tags,
.tech_stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.skill_tags span {
    white-space: nowrap;
}

.concepts_card .skill_tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.skill_card span,
.edu_certi_tags span {
    color: #131720;
    font-size: 12px;
    background-color: #E8EAEE;
    padding: 6px 12px;
    border-radius: 9999px;
    text-align: center;
}


/* Projects Section */
.project_card {
    background-color: #ffffff;
    border: 1px solid #dcdfe5;
    border-radius: 12px;
    width: 367px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.w-full {
    width: 100%;
    background-color: #f78b64;
    height: 8px;
    border-radius: 12px 12px 0px 0px;
}

.padding_whole {
    padding: 20px;
}

.project_title h3,
.job_title h3 {
    font-size: 18px;
    font-weight: 700;
}

.project_info p,
.edu_certi_subheader p {
    color: #6A7181;
    font-size: 14px;
    margin-bottom: 32px;
}

.tech_stack span {
    color: #131720;
    font-size: 12px;
    background-color: #E8EAEE;
    padding: 4px 8px;
    border-radius: 9999px;
    text-align: center;
    border-radius: 4px;
    white-space: nowrap;
}

/* Experience Section */
.experience_content {
    border-left: 2px solid #ef69394d;
    position: relative;
}

.round_border {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ef6939;
    position: absolute;
    left: -11px;
    background-color: #ffffff;
}

.job_title i {
    color: #ef6939;
}

.job_title {
    margin-bottom: 8px;
    padding-top: 9px;
}

.job_place p {
    font-size: 14px;
    color: #ef6939;
    margin-bottom: 4px;
}

.job_place span {
    font-size: 14px;
    color: #6A7181;
    margin-bottom: 16px;
}

.job_description li {
    list-style: none;
    font-size: 14px;
    color: #131720CC;
    margin-top: 8px;
}

.job_description span {
    color: #ef6939;
    padding-right: 5px;
}

.job_title,
.job_place {
    padding-left: 32px;
}

/* Education Section */
.edu_certi_card {
    width: 528px;
    height: 238px;
    border: 1px solid #dcdfe5;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.edu_certi_card p {
    color: #6A7181;
    font-size: 14px;
    margin-bottom: 12px;
}

.certi_title p {
    font-size: 14px;
    font-weight: 500;
    color: #131720;
    margin: 0;
}

.certi_detail p {
    font-size: 12px;
    color: #6A7181;
}

/* Certificate links */
.certificate_link {
    color: #6393ff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.certificate_link:hover {
    color: #4a44c7;
    text-decoration: underline;
}

/* Contact Section */
.contact_details p {
    font-size: 16px;
    color: #131720;
    margin-bottom: 24px;
}

.contact_icon_box {
    width: 40px;
    height: 40px;
    background-color: #e8eaee;
    color: #6A7181;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    transition: 0.3s ease;
}

.contact_icon_box i {
    font-size: 17px;
}

.contact_icon_box a {
    display: flex;
    align-items: center;
    gap: 25px;
    text-decoration: none;
    color: #6A7181;
    transition: 0.3s;
}

.contact_icon_box:hover {
    background-color: #ef69391a;
}

.contact_icon_box:hover a {
    color: #ef6939;
}

.contact_icon_box span {
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
}

.form_group input,
.form_group textarea {
    width: 100%;
    padding: 12px 16px 12px 16px;
    border: 1px solid #dcdfe5;
    border-radius: 12px;
    font-size: 14px;
    color: #131720;
}

.section_contact .btn-primary i {
    margin-left: 0px;
    margin-right: 8px;
}

/* Footer */
footer {
    background-color: #e5e7eb57;
    border-top: 1px solid #dcdfe5;
    padding: 32px 0px;
}

footer p {
    color: #6A7181;
    font-size: 14px;
}

/* Scroll to top button */
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #ef6939;
    color: white;
    font-size: 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

/* visible state */
#scrollTopBtn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#scrollTopBtn:hover {
    transform: translateY(-3px);
    background: #e55d2f;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(239,105,57,0.5);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(239,105,57,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(239,105,57,0);
    }
}
/* Floating animation for hero circles */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
}
.hero-circle-left {
    animation: float 7s ease-in-out infinite;
}
.hero-circle-right {
    animation: float 9s ease-in-out infinite;
}

/* Error messages for contact form */
.error-msg {
    color: #EF4444;
    font-size: 12px;
    margin-top: 2px;
    display: block;
    margin-bottom: 16px;
    padding-left: 6apx;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: #E2E4E9;
}

.dark .logo-d {
    color: #E2E4E9;
}

.dark .nav-icons i:hover {
    color: #e2e4e9;
}

.dark .nav-links a:hover {
    color: #E2E4E9;
}

.dark .navbar {
    background: #1e1e1e;
}

.dark .navbar.scrolled {
    background: #1e1e1e;
}

.dark .nav-links a {
    color: #818898;
}

.dark .hero {
    background: #121212;
}

.dark .btn-outline {
    color: #E2E4E9;
    border: 1px solid #2b303b;
}

.dark .btn-outline:hover {
    color: #EF6939;
    border-color: #EF6939;
}

.dark .section_about p,
.dark .section_skills p,
.dark .section_projects p,
.dark .section_experience p,
.dark .section_education p {
    color: #818898;
}

.dark .skill_card,
.dark .project_card,
.dark .edu_certi_card {
    background: #181d25;
    border-color: #2b303b;
}

.dark .skill_card span,
.dark .tech_stack span,
.dark .edu_certi_tags span {
    background: #272C35;
    color: #E2E4E9;
}

.dark .bg_card {
    background-color: #181d25;
    border-color: #2b303b;
}

.dark .bg_colour {
    background: #181818;
    border-color: #2a2a2a;
}

.dark .about_content span {
    color: #E2E4E9;
}

.dark .about_content p {
    color: #E2E4E9CC;
}

.dark .skill_card h3,
.dark .project_title h3,
.dark .job_title h3,
.dark .edu_certi_card h3,
.dark .certi_title p {
    color: #E2E4E9;
}

.dark .job_place p {
    color: #EF6939;
}

.dark .job_place span {
    color: #818898;
}

.dark .job_description li {
    color: #E2E4E9CC;
}

.dark .contact_details p {
    color: #E2E4E9CC;
}

.dark .contact_icon_box {
    background-color: #272C35;
    color: #E2E4E9;
}

.dark .contact_icon_box span {
    color: #818898;
}

.dark .contact_icon_box:hover a ,.dark .contact_icon_box:hover span{
    color: #ef6939;
}

.dark input,
.dark textarea {
    background: #181D25;
    border-color: #2b303b;
    color: #e2e4e9;
}

.dark footer {
    background-color: #181818;
    border-color: #2a2a2a
}

.dark footer p {
    color: #818898;
}


/* =========================
TABLET DEVICES
========================= */
@media (max-width: 1024px) {
    .skills_content .grid,
    .projects_content .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill_card,
    .project_card {
        width: 100%;
    }
    .edu_certi_card {
        width: 100%;
    }
    .hero-text h1 {
        font-size: 48px;
    }

    .hero-text p {
        margin: 0 20px 40px 20px;
    }
}

/* Animation Keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}
section.in-view {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.8s forwards;
}

/* =========================
MOBILE DEVICES
========================= */
@media (max-width:768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background: white;
        width: 200px;
        padding: 20px;
        transition: 0.3s;
    }
    .hero {
        padding-top: 120px;
    }
    .hero-text h1 {
        font-size: 34px;
    }
    .hero-text p {
        margin: 0 10px 30px 10px;
    }
    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }
    .skills_content .grid,
    .projects_content .grid {
        grid-template-columns: 1fr;
    }
    .skill_card,
    .project_card {
        width: 100%;
    }
    .edu_certi_card {
        height: auto;
        width: 100%;
    }
    .contact_icon_box {
        width: 100%;
    }
    .contact_icon_box a {
        gap: 15px;
    }
    .contact_form {
        margin-top: 30px;
    }
    .nav-links {
        position: absolute;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background: white;
        width: 200px;
        padding: 20px;
        transition: 0.3s;
    }
    .nav-links.active {
        right: 0;
    }
    .menu-toggle {
        display: block;
    }
    .hero-container {
        flex-direction: column;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 36px;
    }
    .hero-image img {
        width: 300px;
        margin-top: 20px;
    }
}


/* =========================
SMALL MOBILE DEVICES
========================= */
@media (max-width:480px) {
    .navbar {
        padding: 12px 5%;
    }
    .logo {
        font-size: 20px;
    }
    .hero-text h1 {
        font-size: 28px;
    }
    .hero-primary p {
        font-size: 12px;
    }
    .hero-text .p1 {
        font-size: 16px;
    }
    .section_about,
    .section_skills,
    .section_projects,
    .section_experience,
    .section_education,
    .section_contact {
        padding: 60px 5%;
    }
    .section_about h2,
    .section_skills h2,
    .section_projects h2,
    .section_experience h2,
    .section_education h2,
    .section_contact h2 {
        font-size: 28px;
    }
    .section_about p,
    .section_skills p,
    .section_projects p,
    .section_experience p,
    .section_education p,
    .section_contact p {
        font-size: 16px;
    }
    .skill_tags,
    .tech_stack {
        grid-template-columns: repeat(2, 1fr);
    }
    #scrollTopBtn {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width:320px){
    .skills_content .grid,
    .projects_content .grid{
        grid-template-columns:1fr;
    }
    .skill_tags,
    .tech_stack{
        grid-template-columns:1fr;
    }
    .skill_card,
    .project_card,
    .edu_certi_card{
        width:100%;
    }
    .hero-text p{
        margin:0 5px 30px 5px;
    }
    .skill_tags span{
        white-space: normal;
    }
}